<nav class="bg-black text-white shadow-md">
  <div class="max-w-7xl mx-auto px-6">
    <div class="flex items-center justify-between h-16">
      <!-- Logo -->
      <a routerLink="/" class="text-3xl font-bold text-blue-600"> SHOWFLIX </a>

      <!-- Menú -->

      <div class="flex gap-8">
        <a routerLink="/" class="hover:text-blue-500 transition"> Inicio </a>
        <a routerLink="/movies" class="hover:text-blue-500 transition"> Películas </a>
        
        @if (isAuthenticated()) {
          <a routerLink="/favorites" class="hover:text-blue-500 transition"> Favoritos </a>
        }
      </div>

      <!-- Login -->

      @if (isAuthenticated()) {
        <button (click)="logout()" class="bg-blue-600 px-4 py-2 rounded">Cerrar sesión</button>
      } @else {
        <a routerLink="/login" class="bg-blue-600 px-4 py-2 rounded"> Iniciar sesión </a>
      }
    </div>
  </div>
</nav>
